:root {
    --border-color: #000;
}

w-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
}

w-avatar[size=md] {
    width: 3rem;
    height: 3rem;
}

w-avatar[size=lg] {
    width: 4rem;
    height: 4rem;
}

w-avatar[shape=circle] {
    border-radius: 50%;
}

w-avatar[border] {
    border: 1px solid var(--border-color);
}

w-avatar img {
    border-radius: 9999px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}